[GENERAL]
email_from = "info@test.org"
email_repy_to = "info@test.org"
; Time to confirm email address in days
time_to_confirm = "3" 

[REDIRECT]
url_subscribe_success=""
url_subscribe_failed=""
url_subscribe_success=""
url_subscribe_success=""


[DATABASE]
name = ""
user = ""
host = ""
password = ""
